/* Begin CSS reset */

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}
body {
 line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
 display:block;
}
nav ul {
 list-style:none;
}
blockquote, q {
 quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}
a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}
/* change colours to suit your needs */
ins {
 background-color:#ff9;
 color:#000;
 text-decoration:none;
}
/* change colours to suit your needs */
mark {
 background-color:#ff9;
 color:#000; 
 font-style:italic;
 font-weight:bold;
}
del {
 text-decoration: line-through;
}
abbr[title], dfn[title] {
 border-bottom:1px dotted;
 cursor:help;
}
table {
 border-collapse:collapse;
 border-spacing:0;
}
/* change border colour to suit your needs */
hr {
 display:block;
 height:1px;
 border:0; 
 border-top:1px solid #cccccc;
 margin:1em 0;
 padding:0;
}
input, select {
 vertical-align:middle;
}

/* End of CSS reset */

article {
    min-height: 100%;
    display: grid;
    grid-template-columns: .5fr 2fr .5fr;
    grid-template-rows: 8em 1fr 4em;
    grid-template-areas:
        'header header header'
        '. main .'
        'footer footer footer'
}

html, body {
    height: 100%;
    background-image: url(background.jpg);
    background-position: center;
}

header {
    grid-area: header;
    border-bottom: 3px solid;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: cornflowerblue;
}

main {
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    grid-area: main;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    border-left: 3px solid;
    border-right: 3px solid;
}

footer {
    grid-area: footer;
    border-top:  3px solid;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: cornflowerblue;
}

#startButton {
    padding: 1em;
    margin-bottom: 1em;
    font-weight: bold;
    width: 250px;
    height: 250px;
    align-self: center;
    background-image: url(RPSLS.png);
    background-size: 250px;
    background-color: cornflowerblue;
    border-style: outset;
    border-radius: 7em;
    background-position-y: -.25em;
    border-color: white;
}

.selectionButtons {
    padding: 2em;
    margin: 1em;
    border-radius: 100%;
    background-color: cornflowerblue;
    border-color: white;
    border-style: outset;
    font-family: 'Fjalla One', sans-serif;
    font-style: italic;
    /* bottom: .25em; */
    color: white;
}

#selectionButtonContainer {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em;  
    letter-spacing: .1em;
    margin: 1em;
    padding: .25em;
    border-style: solid;
    border-width: 3px;
    color: black;
}

p {
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: .1em;
    font-size: 1.5em;
    line-height: 1.25em;
    padding: 1em;
    color: white;
}

ul {
    font-family: 'Fjalla One', sans-serif;
    list-style-type: none;
    color: white;
    font-size: 1.5em;
    letter-spacing: .1em;
    line-height: 1.25em;
    margin-bottom: 1em;
    padding: 1em;
}

label {
    font-family: 'Fjalla One', sans-serif;
    font-style: italic;
    position: relative;
    bottom: .25em;
    color: white;
}

.link {
    text-decoration: none;
    color: cornflowerblue;
}

#odinLink {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
}
